Repository NethermindEth/juno, pull requests merged in 2022-09, with the labels that each got.

#378 Improvement on trie insertion
  internal/cairovm/vm_test.go
  internal/sync/sync.go
  pkg/state/slot.go
  pkg/state/state.go
  pkg/state/state_test.go
Labels: enhancement

#365 [RPC] getStateUpdate
  internal/db/Makefile
  internal/db/sync/manager.go
  internal/db/sync/manager_test.go
  internal/db/sync/sync.pb.go
  internal/db/sync/sync.proto
  internal/rpc/starknet/starknet.go
  internal/rpc/starknet/types.go
  internal/sync/apiCollection.go
  internal/sync/apiCollection_test.go
  internal/sync/collection.go
  internal/sync/l1Collector.go
  internal/sync/l1Collector_test.go
  internal/sync/sync.go
  internal/sync/utils.go
  pkg/felt/helpers.go
  pkg/types/types.go
Labels: rpc

#390 Add health check endpoint
  docs/docs/features/rpc.mdx
  internal/juno/juno.go
  internal/rpc/starknet/starknet.go
  internal/rpc/starknet/types.go
Labels: rpc

#377 Test RPC input types
  internal/rpc/starknet/types.go
  internal/rpc/starknet/types_test.go
Labels: rpc

#382 Receipts
  internal/db/abi/abi.pb.go
  internal/db/block/block.pb.go
  internal/db/state/state.pb.go
  internal/db/sync/sync.pb.go
  internal/db/transaction/manager.go
  internal/db/transaction/manager_test.go
  internal/db/transaction/transaction.pb.go
  internal/db/transaction/transaction.proto
  internal/rpc/starknet/types.go
  internal/sync/sync.go
  pkg/feeder/types.go
  pkg/types/transaction.go
Labels: core, rpc

#394 Correct EstimateFee args order
  internal/juno/juno.go
  internal/rpc/starknet/starknet.go
Labels: bug, rpc

#388 Implement exponential backoff
  pkg/feeder/feeder.go
Labels: enhancement

#402 Support Invoke Transaction version 1
  internal/db/transaction/manager.go
  internal/db/transaction/manager_test.go
  internal/db/transaction/transaction.pb.go
  internal/db/transaction/transaction.proto
  internal/rpc/starknet/starknet.go
  internal/rpc/starknet/types.go
  internal/sync/sync.go
  internal/sync/sync_test.go
  pkg/types/transaction.go
Labels: core

#405 Improve StarkNet class management
  internal/cairovm/vm.go
  internal/cairovm/vm_test.go
  internal/cairovm/vmrpc/vm.go
  internal/db/Makefile
  internal/db/abi/abi.go
  internal/db/abi/abi.pb.go
  internal/db/abi/abi.proto
  internal/db/abi/manager.go
  internal/db/abi/manager_test.go
  internal/db/class/class.pb.go
  internal/db/class/class.proto
  internal/db/class/internal/class_def.json
  internal/db/class/manager.go
  internal/db/class/manager_test.go
  internal/db/state/contract.go
  internal/db/state/contract_test.go
  internal/db/state/manager.go
  internal/db/state/trie_test.go
  internal/juno/juno.go
  internal/rpc/starknet/starknet.go
  internal/rpc/starknet/types.go
  internal/sync/collection.go
  internal/sync/sync.go
  internal/sync/utils.go
  internal/utils/gzip.go
  pkg/feeder/feeder.go
  pkg/feeder/types.go
  pkg/state/state.go
  pkg/state/state_test.go
  pkg/trie/trie_test.go
  pkg/types/class.go
  pkg/types/contract.go
Labels: core
