Repository NethermindEth/juno, pull requests merged in 2022-07, with the labels that each got.

#263 Unexport point functions as not used elsewhere
  pkg/crypto/pedersen/pedersen.go
  pkg/crypto/pedersen/points.go
  pkg/crypto/pedersen/points_test.go
Labels: good first issue, crypto

#275 removed big int inefficiency
  pkg/crypto/keccak/keccak.go
Labels: crypto

#164 Test contract address calculation
  pkg/crypto/pedersen/pedersen.go
  pkg/crypto/pedersen/pedersen_test.go
Labels: crypto

#274 Update database documentation
  internal/db/doc.go
  internal/db/mdbx.go
  internal/db/mdbx_env.go
  internal/db/mdbx_test.go
Labels: documentation

#281 logs: change timestamp encoding
  internal/log/log.go
  internal/log/log_test.go
Labels: cli

#268 Improve database error management
  internal/db/abi/manager.go
  internal/db/abi/manager_test.go
  internal/db/block/block_test.go
  internal/db/block/manager.go
  internal/db/block_specific.go
  internal/db/mdbx.go
  internal/db/mdbx_test.go
  internal/db/state/code.go
  internal/db/state/code_test.go
  internal/db/state/storage.go
  internal/db/state/storage_test.go
  internal/db/transaction/manager.go
  internal/db/transaction/manager_test.go
  internal/services/abi.go
  internal/services/abi_test.go
  internal/services/block.go
  internal/services/block_test.go
  internal/services/contractHash.go
  internal/services/state.go
  internal/services/state_test.go
  internal/services/transactions.go
  internal/services/transactions_test.go
  pkg/rpc/api.go
  pkg/rpc/types.go
  pkg/starknet/state.go
  pkg/starknet/utils.go
Labels: db

#272 Add DocSearch
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
Labels: documentation

#245 Update estimate_fee in gateway and juno-cli
  cmd/juno-cli/cli/estimateFee.go
  cmd/juno-cli/cli/getBlock.go
  cmd/juno-cli/cli/getFullContract.go
  cmd/juno-cli/cli/getStateUpdate.go
  internal/metrics/prometheus/metrics.go
  pkg/feeder/feeder.go
  pkg/feeder/types.go
Labels: cli
