Repository NethermindEth/juno, pull requests merged in 2022-03, with the labels that each got.

#75 [Core] Implementing openrpc
  Makefile
  README.md
  cmd/juno/cli/root.go
  go.mod
  go.sum
  internal/config/config.go
  internal/errpkg/errpkg.go
  internal/ospkg/ospkg.go
  internal/process/process.go
  pkg/db/buckets.go
  pkg/db/database.go
  pkg/db/db.go
  pkg/db/interface.go
  pkg/rpc/client.go
  pkg/rpc/doc.go
  pkg/rpc/error.go
  pkg/rpc/handle.go
  pkg/rpc/jsonrpc.go
  pkg/rpc/server.go
  pkg/rpc/types.go
  test/client_test.go
  test/config_test.go
  test/db_test.go
  test/rpc_test.go
  test/rpc_tests.json
Labels: rpc api

#104 Add Voyager connection documentation
  docs/docs/sidebars.js
  docs/docs/voyager.mdx
Labels: documentation, docs

#107 [Doc] JSONRPC improvement documentation
  docs/docs/jsonrpc-improving.mdx
  docs/docs/sidebars.js
Labels: docs, rpc api

#108 test: restructure tests
  .gitignore
  .idea/.gitignore
  .idea/juno.iml
  .idea/modules.xml
  .idea/vcs.xml
  Makefile
  internal/config/config_test.go
  pkg/db/db_test.go
  pkg/rpc/client_test.go
  pkg/rpc/rpc_test.go
  pkg/rpc/rpc_tests.json
  test/client_test.go
Labels: good first issue, devops, benchmarking

#102 feat: implement cryptographic primitives
  go.mod
  go.sum
  pkg/crypto/internal/randutil/LICENCE
  pkg/crypto/internal/randutil/randutil.go
  pkg/crypto/keccak/keccak.go
  pkg/crypto/keccak/keccak_test.go
  pkg/crypto/pedersen/pedersen.go
  pkg/crypto/pedersen/pedersen_test.go
  pkg/crypto/pedersen/points.json
  pkg/crypto/signature/LICENCE
  pkg/crypto/signature/signature.go
  pkg/crypto/signature/signature_test.go
  pkg/crypto/weierstrass/LICENCE
  pkg/crypto/weierstrass/stark.go
  pkg/crypto/weierstrass/weierstrass.go
  pkg/crypto/weierstrass/weierstrass_test.go
Labels: core, crypto

#115 Update Docusaurus
  docs/docs/coverage.mdx
  docs/docs/development-lifecycle.mdx
  docs/docs/engineering-guidelines.mdx
  docs/docs/how-to-deploy.mdx
  docs/docs/sidebars.js
  docs/docs/testing.mdx
  docs/docs/useful-commands.mdx
Labels: documentation, docs

#117 Add docker image to juno
  Dockerfile
  docs/docs/docker.mdx
  docs/docs/sidebars.js
Labels: documentation, docs, devops
