Repository NethermindEth/juno, pull requests merged in 2025-01, with the labels that each got.

#2342 p2p restructure
  Makefile
  adapters/core2p2p/block.go
  adapters/core2p2p/class.go
  adapters/core2p2p/felt.go
  adapters/core2p2p/receipt.go
  adapters/core2p2p/state.go
  adapters/core2p2p/transaction.go
  adapters/p2p2core/block.go
  adapters/p2p2core/class.go
  adapters/p2p2core/felt.go
  adapters/p2p2core/felt_test.go
  adapters/p2p2core/receipt.go
  adapters/p2p2core/state.go
  adapters/p2p2core/transaction.go
  buf.gen.yaml
  buf.yaml
  p2p/codec.go
  p2p/gen/class.pb.go
  p2p/gen/common.pb.go
  p2p/gen/event.pb.go
  p2p/gen/header.pb.go
  p2p/gen/receipt.pb.go
  p2p/gen/state.pb.go
  p2p/gen/transaction.pb.go
  p2p/gossip_tracer.go
  p2p/p2p.go
  p2p/peers/handlers.go
  p2p/peers/iterator.go
  p2p/peers/iterator_test.go
  p2p/spec/class.proto
  p2p/spec/common.proto
  p2p/spec/event.proto
  p2p/spec/header.proto
  p2p/spec/notes.md
  p2p/spec/receipt.proto
  p2p/spec/state.proto
  p2p/spec/transaction.proto
  p2p/starknet/spec/class.pb.go
  p2p/starknet/spec/common.pb.go
  p2p/starknet/spec/event.pb.go
  p2p/starknet/spec/header.pb.go
  p2p/starknet/spec/receipt.pb.go
  p2p/starknet/spec/state.pb.go
  p2p/starknet/spec/transaction.pb.go
  p2p/sync/bytereader.go
  p2p/sync/bytereader_pkg_test.go
  p2p/sync/client.go
  p2p/sync/ids.go
  p2p/sync/sync.go
Labels: P2P, go

#2382 Bump golangci-lint and add linters
  .golangci.yaml
  Makefile
  vm/vm.go
  vm/vm_test.go
Labels: go

#2033 P2P sync update for 0.13.2 hashing scheme
  adapters/core2p2p/block.go
  adapters/core2p2p/receipt.go
  adapters/core2p2p/receipt_pkg_test.go
  adapters/p2p2core/receipt.go
  adapters/p2p2core/receipt_test.go
  adapters/p2p2core/state.go
  core/block.go
  core/receipt_test.go
  core/transaction.go
  core/version.go
  mocks/mock_blockchain.go
  p2p/hashstorage/hash_storage.go
  p2p/hashstorage/sepolia_block_hashes.bin
  p2p/peers/handlers.go
  p2p/sync/sync.go
Labels: P2P, Synchronisation

#2335 RPC update - add l2 gas
  adapters/core2p2p/block.go
  adapters/core2p2p/receipt.go
  adapters/core2p2p/transaction.go
  adapters/p2p2core/block.go
  adapters/p2p2core/receipt.go
  adapters/p2p2core/transaction.go
  adapters/sn2core/sn2core.go
  adapters/sn2core/sn2core_test.go
  clients/feeder/feeder_test.go
  core/block.go
  core/receipt.go
  core/transaction.go
  p2p/gen/class.pb.go
  p2p/gen/common.pb.go
  p2p/gen/event.pb.go
  p2p/gen/header.pb.go
  p2p/gen/receipt.pb.go
  p2p/gen/state.pb.go
  p2p/gen/transaction.pb.go
  p2p/spec/header.proto
  p2p/spec/receipt.proto
  p2p/spec/transaction.proto
  p2p/sync/sync.go
  rpc/block.go
  rpc/block_test.go
  rpc/estimate_fee.go
  rpc/estimate_fee_pkg_test.go
  rpc/estimate_fee_test.go
  rpc/handlers.go
  rpc/handlers_test.go
  rpc/helpers.go
  rpc/simulation.go
  rpc/simulation_pkg_test.go
  rpc/subscriptions_test.go
  rpc/trace_test.go
  rpc/transaction.go
  rpc/transaction_test.go
  starknet/block.go
  starknet/compiler/rust/Cargo.toml
  starknet/transaction.go
  sync/sync.go
  vm/vm.go
  vm/vm_test.go
Labels: RPC, go
