Repository NethermindEth/juno, pull requests merged in 2025-04, with the labels that each got.

#2185 Initial implementation of Tendermint
  consensus/tendermint/messages.go
  consensus/tendermint/precommit.go
  consensus/tendermint/prevote.go
  consensus/tendermint/propose.go
  consensus/tendermint/propose_test.go
  consensus/tendermint/tendermint.go
  consensus/tendermint/tendermint_test.go
Labels: 3 reviews

#2703 fix(sn2core): reverse handling of missing L1DataGas resource
  adapters/sn2core/sn2core.go
  rpc/v6/simulation.go
  rpc/v6/transaction.go
  rpc/v6/transaction_test.go
  rpc/v7/simulation.go
  rpc/v7/transaction.go
  rpc/v7/transaction_test.go
  starknetdata/feeder/feeder_test.go
Labels: Bug, High priority

#2736 refactor: Process future messages sequentially
  consensus/tendermint/rule_skip_round.go
  consensus/tendermint/tendermint.go
Labels: Tendermint

#2742 refactor: Rename h, r and s to height, round and step
  consensus/tendermint/broadcast.go
  consensus/tendermint/messages.go
  consensus/tendermint/precommit.go
  consensus/tendermint/prevote.go
  consensus/tendermint/propose.go
  consensus/tendermint/propose_test.go
  consensus/tendermint/rule_commit_value.go
  consensus/tendermint/rule_first_proposal.go
  consensus/tendermint/rule_polka_any.go
  consensus/tendermint/rule_polka_nil.go
  consensus/tendermint/rule_precommit_any.go
  consensus/tendermint/rule_proposal_and_polka_current.go
  consensus/tendermint/rule_proposal_and_polka_previous.go
  consensus/tendermint/rule_skip_round.go
  consensus/tendermint/tendermint.go
  consensus/tendermint/tendermint_test.go
Labels: Tendermint

#2743 refactor: Remove unnecessary dependencies on message data for some rules
  consensus/tendermint/precommit.go
  consensus/tendermint/prevote.go
  consensus/tendermint/rule_polka_any.go
  consensus/tendermint/rule_polka_nil.go
  consensus/tendermint/rule_precommit_any.go
Labels: Tendermint

#2744 refactor: Add MessageHeader type
  consensus/tendermint/broadcast.go
  consensus/tendermint/messages.go
  consensus/tendermint/precommit.go
  consensus/tendermint/prevote.go
  consensus/tendermint/propose.go
  consensus/tendermint/propose_test.go
  consensus/tendermint/tendermint.go
  consensus/tendermint/tendermint_test.go
Labels: Tendermint

#2745 refactor: Accept 1 message from a sender per height, round and type
  consensus/tendermint/messages.go
  consensus/tendermint/precommit.go
  consensus/tendermint/prevote.go
  consensus/tendermint/propose_test.go
  consensus/tendermint/rule_polka_nil.go
  consensus/tendermint/tendermint.go
  consensus/tendermint/tendermint_test.go
Labels: Tendermint

#2690 final sequencer PR
  adapters/vm2core/vm2core.go
  blockchain/blockchain.go
  builder/builder.go
  builder/builder_test.go
  builder/init_test.go
  cmd/juno/juno.go
  cmd/juno/juno_test.go
  core/block.go
  core/state.go
  core/state_test.go
  core/state_update.go
  docs/docs/sequencer.md
  mempool/mempool.go
  mempool/mempool_test.go
  node/genesis.go
  node/node.go
  rpc/handlers.go
  rpc/v6/handlers.go
  rpc/v6/transaction.go
  rpc/v8/handlers.go
  rpc/v8/transaction.go
  utils/network.go
  vm/trace.go
  vm/vm_test.go
Labels: 3 reviews

#2777 fix: nil resource bounds incorrectly map to struct
  clients/feeder/testdata/integration/transaction/0x2db07ed11b1f6c678de9fc19ef0dfb8e71631e1cff236a34e68f51528a21282.json
  rpc/v8/block_test.go
  rpc/v8/transaction.go
  rpc/v8/transaction_test.go
Labels: Bug, High priority

#2755 refactor: Use a loop to run rules until no rules available
  consensus/tendermint/messages.go
  consensus/tendermint/precommit.go
  consensus/tendermint/prevote.go
  consensus/tendermint/process.go
  consensus/tendermint/propose.go
  consensus/tendermint/propose_test.go
  consensus/tendermint/rule_proposal_and_polka_previous.go
  consensus/tendermint/rule_skip_round.go
  consensus/tendermint/tendermint.go
  consensus/tendermint/tendermint_test.go
  consensus/tendermint/timeout.go
Labels: Tendermint

#2771 fix(rpc): temporary fix for out-of-gas estimation
  vm/rust/src/execution.rs
Labels: Bug, High priority

#2761 refactor: Separate driver and state machine in Tendermint
  consensus/tendermint/action.go
  consensus/tendermint/broadcast.go
  consensus/tendermint/process.go
  consensus/tendermint/propose_test.go
  consensus/tendermint/rule_commit_value.go
  consensus/tendermint/rule_first_proposal.go
  consensus/tendermint/rule_polka_any.go
  consensus/tendermint/rule_polka_nil.go
  consensus/tendermint/rule_precommit_any.go
  consensus/tendermint/rule_proposal_and_polka_current.go
  consensus/tendermint/rule_proposal_and_polka_previous.go
  consensus/tendermint/rule_skip_round.go
  consensus/tendermint/tendermint.go
  consensus/tendermint/tendermint_test.go
  consensus/tendermint/timeout.go
Labels: Tendermint
